body {
  align-items: center;
  justify-content: center;
}
mat-card {
  width: 50%;
  min-width: 500px;
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}
