<mat-card appearance="raised">
    <mat-card-header>
        <mat-card-title> LOGIN</mat-card-title>
        <mat-card-subtitle><mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="$event.preventDefault(); checkLogin()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email ID</mat-label>
                    <input matInput placeholder="Email ID" formControlName="email">
                    <mat-error
                        *ngIf="(loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.invalid">Invalid
                        Email ID</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="Password" formControlName="password">
                    <mat-error
                        *ngIf="(loginForm.get('password')?.dirty || loginForm.get('password')?.touched)  && loginForm.get('password')?.invalid">Please
                        Enter your password</mat-error>
                </mat-form-field>
            </p>
            <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
    </mat-card-content>

</mat-card>